langchain==0.3.14
langchain-community==0.3.14
langchain-openai==0.2.14
langchain-chroma>=0.2.2
chromadb>=0.6.0
fastapi==0.115.6
uvicorn==0.34.0
pydantic==2.10.4
python-dotenv==1.0.1
chardet==5.2.0
pymysql==1.1.1
pypdf==5.1.0